.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  justify-content: center;
  min-height: 100vh;
}

.center {
  max-width: 600px;
  color: #fa6e50;
  text-transform: uppercase;
}

.center p {
  margin-bottom: 24px;
  text-align: center;
}

.nextDate {
  color: var(--accent-color);
}

.linebreak {
  padding: 2rem;
  text-align: center;
  margin: auto;
  width: 50%;
  border-bottom: 1px solid var(--accent-color);
  margin: 0 1rem;
}
